.home-container {
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
}

.container-busca {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    flex-wrap: wrap;
    gap: 5vh;
}

.pesquisa-volume,
.pesquisa-produto {
    display: flex;
    align-items: center;
    flex: 1 1 300px;
    max-width: 30vw;
}

.input-pesquisa-volume,
.input-pesquisa-produto {
    width: 100%;
    min-height: 50px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #0071BB;
    border-radius: 25px 0px 0px 25px;
    background-color: #fff;
    cursor: not-allowed;
}

.input-pesquisa-volume::-webkit-outer-spin-button,
.input-pesquisa-volume::-webkit-inner-spin-button,
.input-pesquisa-produto::-webkit-outer-spin-button,
.input-pesquisa-produto::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-search,
.button-produto {
    width: 150px;
    border-radius: 25px;
    margin-left: -25px;
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    background-color: #0071BB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.fa-search,
.fa-cube {
    font-size: 20px !important;
}

.button-search:hover {
    background-color: #005fa3;
}

.input-pesquisa-volume:focus,
.input-pesquisa-produto:focus,
.input-pesquisa-volume:focus-visible,
.input-pesquisa-produto:focus-visible {
    border-color: #0071BB;
    outline: none;
}

.input-pesquisa-volume:disabled,
.input-pesquisa-produto:disabled {
    background-color: #e0e0e0;
    color: #a1a1a1;
    border: 1px solid #d3d3d3;
    cursor: not-allowed;
}

.tabela-produtos {
    background: #fff;
    min-height: 550px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 75px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-inline: auto;
    width: 95vw;
    max-width: 1300px;
}

.tabela-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.tabela-thead {
    border-bottom: 2px solid #ccc;
}

.tabela-table>th,
td,
tr {
    height: 50px;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ccc !important;
    text-align: center;
}

.tabela-table>th {
    background-color: #f4f4f4;
}

.tabela-table>tbody tr:hover {
    background-color: #f1f1f1;
}

.tabela-produtos::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tabela-produtos::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.tabela-produtos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

.tabela-produtos::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.aviso-inicio,
.aviso-iniciado,
.aviso-iniciado>h1,
.aviso-inicio>h1 {
    font-size: 20px;
    color: #ACB1C6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.footer-legenda-botao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100px;
}

.decoração-legenda {
    background-color: #0071BB;
    width: 20px;
    height: 20px;
}

.contador {
    font-weight: bold;
    margin-left: 4;
}

.legenda {
    display: flex;
}

.legenda>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
}

.button-footer {
    display: flex;
    gap: 10px;
}

.button-iniciar {
    background-color: #0071BB;
    text-decoration: none;
    color: #f3f7fe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-cancelar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    background-color: transparent;
    text-decoration: none;
    color: #272833;
    border: 2px solid #272833;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-finalizar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    background-color: #04BB00;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.popup-cancelar-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-cancelar {
    background-color: white;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30% !important;
    text-align: center;
}

.popup-cancelar>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.popup-cancelar>p {
    width: 100%;
}

.button-cancel-operação,
.button-cancel-edição-código,
.button-cancel-edição-chave {
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #272833;
    border: 2px solid #272833;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-confirm-cancel-operação {
    background-color: #FF0000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.popup-finalizar-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-finalizar {
    background-color: white;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30% !important;
    text-align: center;
}

.popup-finalizar>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.fa-exclamation-triangle {
    font-size: 25px !important;
    color: #FFB800;
}

.aviso-cuidado {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(43, 100%, 50%, 0.1);
    border: 2px solid #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aviso-cuidado>p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.confirm-message {
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.close-button-confirm,
.close-button-concluido {
    display: flex;
    justify-content: end;
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.button-container-confirm {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.button-container-confirm-edição {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-top: 40px;
}

.button-confirm,
.button-confirm-edição-código,
.button-confirm-edição-chave {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #04BB00;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-cancel {
    background-color: transparent;
    text-decoration: none;
    color: #272833;
    border: 2px solid #272833;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.popup-loading-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-loading {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30% !important;
    text-align: center;
    height: 356px;
}

.loading-container {
    text-align: center;
    margin-top: auto;
}

.popup-loading>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.popup-loading>p {
    padding-top: 75px;
    padding-bottom: 30px;
    width: 100%;
}

.loading {
    color: #0071BB;
}

.loading::after {
    content: "";
    animation: dots 1.5s steps(5, end) infinite;
}

.popup-finalizado-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-finalizado {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30% !important;
    text-align: center;
    height: 356px;
    display: flex;
    flex-direction: column;
}

.popup-finalizado>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.popup-finalizado>p {
    width: 100%;
}

.finalizado-container {
    margin-top: 33px;
    text-align: center;
}

.fa-check-circle {
    font-size: 100px !important;
    color: #00B707;
}

.button-concluir {
    margin-top: 20px;
    background-color: #0071BB;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

@keyframes dots {

    0%,
    20% {
        content: "";
    }

    40% {
        content: ".";
    }

    60% {
        content: "..";
    }

    80%,
    100% {
        content: "...";
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071BB;
    width: 250px;
    height: 6px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.progresso {
    margin-top: 5px;
}

.seleção-container {
    border-radius: 25px 25px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #191A23;
    color: white;
    text-align: center;
    padding: 40px 0;
    z-index: 1000;
}

.seleção {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.seleção h6,
.seleção p {
    border-radius: 25px;
    margin: 0;
    padding-right: 10px;
}

.seleção>h6 {
    display: grid;
    align-items: center;
    justify-content: right;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #0071BB;
    border-radius: 7px;
    margin: 0;
    padding-right: 10px;
}

.seleção p {
    margin-left: 5px;
    flex-grow: 1;
    text-align: left;
}

i.fa.fa-trash-o {
    font-size: 20px;
    padding-right: 5px;
}

.button-excluir-produto-selecionado {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 200px;
    background-color: #FF0000;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.popup-excluir-produto-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    align-content: center;
}

.popup-excluir-produto {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30% !important;
    text-align: center;
    height: auto;
}

.popup-excluir-produto>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.popup-excluir-produto>p {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.button-cancel-excluir-produto {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    text-decoration: none;
    color: #272833;
    border: 2px solid #272833;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-confirm-excluir-produto {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FF0000;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.more-options {
    position: relative;
    display: inline-block;
}

.more-options .fa-ellipsis-v {
    padding: 5px;
    cursor: pointer;
}

.more-options .dropdown-menu {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-110%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    min-width: 140px;
}

.more-options .dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.more-options .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

.operação-iniciada-popup,
.operação-finalizar-popup,
.operação-produto-alterado-popup,
.operação-chave-editada-produto-popup,
.operação-codigo-editado-produto-popup {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(104, 100%, 38%, 0.55);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: #00B707;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Oculta o conteúdo que não cabe */
    animation: fadeIn 0.5s;
}

.operação-excluir-popup,
.operação-excluir-produto-popup {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(0, 100%, 61%, 0.55);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: #FF3A3A;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Oculta o conteúdo que não cabe */
    animation: fadeIn 0.5s;
}

.apenas-numeros-popup,
.tabela-vazia-popup {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(41, 100%, 65%, 0.9);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: hsla(41, 100%, 65%, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Oculta o conteúdo que não cabe */
    z-index: 9999999;
}

.operação-iniciada-popup.fade-out,
.operação-excluir-popup.fade-out,
.operação-excluir-produto-popup.fade-out,
.operação-finalizar-popup.fade-out,
.operação-produto-alterado-popup.fade-out,
.operação-chave-editada-produto-popup.fade-out,
.operação-codigo-editado-produto-popup.fade-out .apenas-numeros-popup.fade-out,
.tabela-vazia-popup.fade-out {
    animation: fadeOut 0.5s forwards;
}

.operação-iniciada-container,
.operação-excluir-container,
.operação-excluir-produto-container,
.operação-finalizar-popup-container,
.operação-produto-alterado-container,
.operação-chave-editada-produto-popup-container,
.operação-codigo-editado-produto-popup-container,
.apenas-numeros-popup-container,
.tabela-vazia-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operação-iniciada-container>p,
.operação-excluir-container>p,
.operação-excluir-produto-container>p,
.operação-finalizar-container>p,
.operação-produto-alterado-container>p,
.operação-chave-editada-produto-popup-container>p,
.operação-codigo-editado-produto-popup-container>p,
.apenas-numeros-popup-container>p,
.tabela-vazia-popup-container>p {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 200px;
}

.operação-iniciada-container>p>.close-button-confirm,
.operação-excluir-container>p>.close-button-confirm,
.operação-excluir-produto-container>p>.close-button-confirm,
.operação-finalizar-container>p>.close-button-confirm,
.operação-produto-alterado-container>p>.close-button-confirm,
.operação-chave-editada-produto-popup-container>p>.close-button-confirm,
.operação-codigo-editado-produto-popup-container>p>.close-button-confirm,
.apenas-numeros-popup-container>p>.close-button-confirm,
.tabela-vazia-popup-container>p>.close-button-confirm {
    font-size: 20px;
    cursor: pointer;
}

.popup-editar-codigo-container,
.popup-editar-chave-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    align-content: center;
}

.popup-editar-codigo,
.popup-editar-chave {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    height: auto;
}

.popup-editar-codigo>h2,
.popup-editar-chave>h2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.popup-editar-codigo>p,
.popup-editar-chave>p {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.data-hora {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.data-hora-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.data-edição,
.hora-edição,
.codigo-edição {
    margin-bottom: 5px;
}

.input-data-edição,
.input-hora-edição {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    cursor: not-allowed;
}

.input-codigo-edição,
.input-chave-edição {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

.camera-img, .camera-video {
    display: none;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}

@media only screen and (max-width: 1150px) {
    .popup-cancelar, .popup-finalizar, .popup-excluir-produto, .popup-finalizado, .popup-loading {
        width: 60% !important;
    }
}

@media only screen and (max-width: 850px) {
    .container-busca {
        gap: 2vh;
        align-items: center;
        flex-direction: column;
    }

    .pesquisa-volume,
    .pesquisa-produto {
        flex: 1 1 33px;
        max-width: 100%;
    }

    .camera {
        display: flex;
        padding-top: 50px;
        align-items: center;
        justify-content: center;
    }

    /* .camera-img {
        display: block;
        width: 80%;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    } */

    .camera-video {
        display: block;
        width: 80%;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (max-width: 750px) {
    .footer-legenda-botao {
        display: grid;
        align-items: center;
        padding-block: 30px;
        height: 140px;
        justify-items: center;
    }
}

@media only screen and (max-width: 550px) {

    .footer-legenda-botao {
        height: 185px;
    }

    .operação-iniciada-container>p,
    .operação-excluir-container>p,
    .operação-excluir-produto-container>p,
    .operação-finalizar-container>p,
    .operação-produto-alterado-container>p,
    .operação-chave-editada-produto-popup-container>p,
    .operação-codigo-editado-produto-popup-container>p,
    .apenas-numeros-popup-container>p,
    .tabela-vazia-popup-container>p {
        gap: 20px;
    }

    .seleção {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .seleção > p {
        text-align: center;
    }

    .button-excluir-produto-selecionado {
        margin-right: 0px;
    }

}

@media only screen and (max-width: 440px) {
    .decoração-legenda {
        display: none;
    }
}

@media only screen and (max-width: 350px) {

    .footer-legenda-botao {
        height: 285px;
    }

    .legenda {
        display: flex;
        flex-direction: column;
    }
}