.home-container {
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
}

.slider {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.slide {
    padding: 25px;
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
    border-radius: 25px;
}

.navigation {
    padding-inline: 150px;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev,
.next {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #0070bb5f;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: white;
}

.card-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1200px;
    display: inline-grid;
    gap: 20px;
    padding: 50px;
    justify-content: center;

    a {
        display: contents;
    }
}

.cartao {
    width: 90%;
    height: 260px;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    display: flex;
    margin-inline: auto;
    text-align: center;
    transition: transform 0.2s ease-in-out;

    img {
        width: 165px;
        height: 165px;
        max-width: 100%;
        object-fit: cover;
    }
}

.cartao:hover {
    transform: scale(1.05);
}

.cartao:active {
    transform: scale(0.95);
}

.card-text {
    p {
        padding: 20px 10px;
    }

    h3 {
        width: 200px;
        background-color: #0071BB;
        color: #fff;
        border-radius: 10px;
        padding: 5px;
        font-size: 1.5rem;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.card-acessar {
    display: flex;
    align-items: center;

    a {
        padding-left: 10px;
        margin-right: 10px;
    }
}

.acessar {
    color: #000;
    margin-left: 10px;
}

.frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial {
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 850px;
}

.testimonial h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.testimonial blockquote {
    margin: 0;
    padding: 0;
    color: #666;
    font-style: italic;
}

.testimonial blockquote p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

.testimonial blockquote p::before,
.testimonial blockquote p::after {
    content: '“';
    font-size: 40px;
    color: #0071BB;
    position: absolute;
}

.testimonial blockquote p::before {
    top: -10px;
    left: -20px;
}

.testimonial blockquote p::after {
    content: '”';
    bottom: -10px;
    right: -20px;
}

.container-card-info {
    display: flex;
    margin-inline: 100px;
    padding: 50px;
}

.card-info {
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: 0.7s all ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info:hover {
    flex: 2;
}

.container-informacoes1,
.container-informacoes2 {
    width: 90%;
    max-width: 1150px;
    margin: auto;
    padding: 20px;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.app-screens1,
.app-screens2 {
    width: 525px;
}

.app-screens1>img,
.app-screens2>img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.description1,
.description2 {
    max-width: 500px;
}

.description1 h2,
.description2 h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.description1 p,
.description2 p {
    color: #333;
    text-align: justify;
    margin-inline: 30px;
}

.button-informacoes1,
.button-informacoes2 {
    background-color: #3b82f6;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-informacoes1:hover,
.button-informacoes2:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.titulo-documentacao {
    font-size: 25px;
    margin-bottom: 35px;
    color: #333;
    font-weight: bold;
}

.documentacao-container {
    margin-top: 20px;
    border-radius: 20px;
    margin-inline: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #fff;
    width: calc(33.33% - 10px);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: scale(1.05);
}

.documentacao-img {
    width: 75px;
    margin-inline: 30px;
    border-radius: 15px;
}

.documentacao-text {
    padding: 10px;
    text-align: left;
}

.video-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    padding-top: 50px;
}

.video-home {
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
    height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
    padding-top: 18px;
}

.footer-home-container {
    font-size: 15px;
    padding-inline: 200px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    border-radius: 20px;
    margin-inline: 10px;
    height: 300px;
    background-color: rgb(25, 26, 35);
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-column {
    padding-top: 40px;
    margin: 10px;
    text-align: left;
}

h3 {
    margin-bottom: 10px;
    font-size: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0 !important;
}

li {
    margin-bottom: 5px;
}

.footer-center {
    padding-top: 80px;
    text-align: center;
    flex-grow: 1;
    padding-inline: 25px;
}

.footer-center>p {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-icons>a {
    margin: 0 10px;
}

.social-icons>img {
    width: 17px;
    height: 17px;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}

.fa-angle-up {
    color: #0071BB;
    font-size: 35px !important;
}

.back-to-top {
    position: fixed;
    font-size: 25px;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #fff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.back-to-top:hover {
    background-color: #F0F0F0;
}

.back-to-top.show {
    display: block;
}

@media only screen and (max-width: 1400px) {
    .footer-column {
        display: none;
    }
}

@media only screen and (max-width: 1340px) {
    .slides {
        display: none;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .card-text {
        padding-right: 100px;
    }

    .container-card-info {
        display: grid;
        align-items: center;
        gap: 25px;
    }

    .card-info {
        width: 100%;
    }

    .box {
        width: calc(33.33% - -200px);
    }

    .documentacao-container {
        display: grid;
        justify-items: center;
        justify-content: normal;
    }

    .documentacao-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {

    .description1,
    .description2 {
        max-width: 100%;
    }

    .app-screens1,
    .app-screens2 {
        width: auto;
    }

    .container-informacoes1 {
        margin-block: 50px;
        display: grid;
        justify-content: center;
        gap: 0;
    }

    .container-informacoes2 {
        display: grid;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .app-screens1>img,
    .app-screens2>img {
        max-width: 500px;
    }

    .app-screens2 {
        order: -1;
    }

    .video-home {
        border-radius: 15px;
        width: 100%;
        max-width: 500px;
        height: 270px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .footer-home-container {
        padding-inline: 0;
    }

    .footer-center {
        padding-top: 40px;
    }

    .card-info {
        margin-left: 0;
    }

    .container-card-info {
        margin-inline: 0;
    }
}

@media only screen and (max-width: 807px) {
    .cartao img {
        display: none;
    }

    .card-text {
        text-align: center;
    }

    .app-screens1,
    .app-screens2 {
        width: auto;
    }

}

@media only screen and (max-width: 520px) {
    .video-home {
        border-radius: 15px;
        width: 75%;
        max-width: 350px;
        height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .back-to-top {
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 450px) {

    .cartao {
        height: auto;
        gap: 0;
    }

    .card-text {
        margin-top: 75px;
        padding-right: 0;
    }

    .card-acessar {
        display: none;
    }
}