.home-container {
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
    height: 93%;
}

.container-perguntas {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 50px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabs {
    display: flex;
    margin-left: 70px;
    margin-bottom: -50px;
}

.tab {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    display: flex;
    background-color: #ffffff;
    border-top: 2px solid #007bff;
    font-weight: bold;
    color: #007bff;
    align-items: baseline;
}

.tab:not(.active) {
    display: flex;
    color: #b0b0b0;
}

.summary {
    padding-left: 5px;
}

.summary > p {
    padding-inline: 8px;
    background-color: rgba(0, 113, 187, 0.24);
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 0rem;
}

.filter-section {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}

.filter-section input,
.filter-section select {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 14px;
    width: 240px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-section input[type="date"] {
    width: 240px;
}

.filtrar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtrar:hover {
    background-color: #0056b3;
}

.buttons-options {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    padding-top: 30px;
    gap: 5px;
}

.link-mlb {
    color: #4d4d4d;
    text-decoration: none;
}

.link-mlb:hover {
    color: #007bff;
    text-decoration: none;
}

.buttons-options button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 23px;
    transition: background-color 0.3s;
}

.buttons-options button:hover {
    background-color: #0056b3;
}

.fa-ellipsis-v {
    cursor: pointer;
    padding: 5px;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1000;
    display: none;
}

.dropdown-menu a {
    display: block;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.content {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content img {
    max-width: 300px;
    margin-bottom: 20px;
}

.content h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.content p {
    color: #4d4d4d;
}

.question {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    margin-inline: 250px;
}

.question-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.question-header img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: solid 1px #007bff;
}

.question-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.titulo-produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-info h3 {
    margin: 0;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

.question-info p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.question-info .price {
    font-size: 16px;
    color: #007bff;
}

.line-product {
    border: solid 1px;
    color: #007bff;
    margin-block: 5px;
}

.question-user {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.container-contador {
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
}

.container-contador>p {
    font-size: 14px;
}

.question-user > .resposta-rapida {
    font-size: 12px;
    background-color: rgba(0, 113, 187, 0.24);
    border-radius: 5px;
    padding: 2px;
}

.question-user>p {
    font-size: 15px;
    color: #007bff;
    margin-bottom: 0rem;
    font-weight: bold;
}

.produto-info {
    color: #007bff;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.question-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-right: 5px;
}

.question-content {
    padding: 5px;
    background-color: #F0F0F0;
    border-radius: 25px;
    text-align: left;
    display: flex;
}

.point-question {
    color: #007bff;
}

.question-content p {
    margin: 0;
    font-size: 14px;
    padding-left: 5px;
}

.question-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.question-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    width: 100%;
    outline: none
}

.button-question-container {
    margin-top: -10px;
    display: flex;
}

.question-footer button:disabled {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(25, 26, 35);;
    color: white;
    font-size: 14px;
    cursor: no-drop;
    transition: background-color 0.3s;
}

.question-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pergunta-respondida {
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 113, 187, 0.24);
    padding-inline: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.pergunta-respondida > p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #007bff;
}

.pergunta-respondida > i {
    display: flex;
    color: #007bff;
    align-items: center;
}

.divisao-produto {
    border: solid 5px;
    color: #F0F0F0;
    width: 110%;
    margin-left: -20px;
    opacity: 100%;
}

.container-perguntas::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.container-perguntas::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.container-perguntas::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

.container-perguntas::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.resposta-enviada-popup {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(104, 100%, 38%, 0.55);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: #00B707;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

.resposta-enviada-popup.fade-out {
    animation: fadeOut 0.5s forwards;
}

.resposta-enviada-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta-enviada-popup-container>p {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 400px;
}

.resposta-enviada-popup-container>p>.close-button-confirm {
    font-size: 20px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #F0F0F0;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    height: 80%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    margin: 0;
    font-size: 20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.popup-body {
    flex: 1; 
    overflow-y: auto;
}

.popup-body p {
    margin-bottom: 20px;
    text-align: left;
    color: #949494;
}

.response-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.response-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.table-container {
    border-radius: 25px;
    max-height: 425px;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1000;
    display: none; /* Inicialmente escondido */
}

.dropdown-menu a {
    display: block;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.hash-symbol {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    font-weight: bold;
    pointer-events: none;
}

.input-wrapper input {
    padding-left: 25px;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-wrapper input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.create-response-btn {
    background-color: rgb(25, 26, 35);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.response-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    padding-inline: 10px;
}

.response-options a {
    text-decoration: none;
}

.responses-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.responses-table>th,
td,
tr {
    height: 50px;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ccc !important;
    text-align: center;
    background: #fff;
}

.fa-question-circle-o {
    color: #0071BB;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legenda-container {
    display: flex;
    gap: 5px;
}

.quantidade-resposta {
    font-weight: bold;
}

.legenda-container p {
    margin-top: 0;
    margin-bottom: 0;
}

.decoracao-legenda {
    background-color: #0071BB;
    width: 20px;
    height: 20px;
}

.confirm-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #0056b3;
}

.custom-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-popup-content {
    background: #F0F0F0;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.custom-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.custom-popup-header h2 {
    margin: 0;
    font-size: 20px;
}

.custom-close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.custom-popup-body {
    flex: 1; 
    overflow-y: auto;
}

.custom-form-group {
    margin-bottom: 20px;
}

.custom-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.custom-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-hash-symbol {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    font-weight: bold;
    pointer-events: none;
}

.custom-input-wrapper input,
.custom-input-response {
    padding-left: 30px;
    width: 100%;
    border: 1px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 40px;
}

.custom-input-response {
    padding-left: 10px;
}

.custom-input-wrapper input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-helper-text {
    color: #888;
    font-size: 12px;
    text-align: left;
}

.custom-popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.custom-btn-cancel, .custom-btn-finalizar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn-cancel {
    background-color: #FF0000;
    color: #fff;
}

.custom-btn-cancel:hover {
    background-color: #a90000;
}

.custom-btn-finalizar {
    background-color: #007bff;
    color: white;
}

.custom-btn-finalizar:hover {
    background-color: #0056b3;
    color: white;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}

@media only screen and (max-width: 1226px) {
    .question {
        margin-inline: 0px;
    }

    .resposta-enviada-popup-container>p {
        gap: 300px;
    }

    .background {
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .resposta-enviada-popup-container>p {
        gap: 200px;
    }
}

@media screen and (max-width: 760px) {
    .background {
        height: 110%;
    }
}

@media screen and (max-width: 628px) {
    .question-footer {
        flex-direction: column;
    }

    .button-question-container {
        margin-top: 25px;
        display: flex;
    }
}

@media only screen and (max-width: 560px) {

    .background {
        height: 150%;
    }

    .question-header {
        flex-direction: column;
    }

    .question-header img {
        width: 230px;
        height: 230px;
    }

    .container-perguntas {
        height: 93vh;
    }
}

@media only screen and (max-width: 500px) {
    .filter-section {
        flex-direction: column;
        gap: 10px;
        padding-top: 15px;
        padding-bottom: 20px;
        align-items: center;
    }

    .resposta-enviada-popup-container>p {
        gap: 100px;
    }

    .background {
        height: 150%;
    }
}