.home-container {
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
    height: 90%;
}

.container-perguntas {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 50px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabs {
    display: flex;
    margin-left: 70px;
    margin-bottom: -50px;
}

.tab {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #ffffff;
    border-top: 2px solid #007bff;
    font-weight: bold;
    color: #007bff;
}

.tab:not(.active) {
    color: #b0b0b0;
}

.filter-section {
    padding-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}

.filter-section input,
.filter-section select {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 14px;
    width: 240px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-section input[type="date"] {
    width: 240px;
}

.filtrar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtrar:hover {
    background-color: #0056b3;
}

.buttons-options {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    padding-top: 30px;
    gap: 5px;
}

.link-mlb {
    color: #4d4d4d;
    text-decoration: none;
}

.link-mlb:hover {
    color: #007bff;
    text-decoration: none;
}

.buttons-options button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 23px;
    transition: background-color 0.3s;
}

.buttons-options button:hover {
    background-color: #0056b3;
}

.content {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content img {
    max-width: 300px;
    margin-bottom: 20px;
}

.content h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.content p {
    color: #4d4d4d;
}

.question {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    margin-inline: 250px;
}

.question-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.question-header img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: solid 1px #007bff;
}

.question-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.titulo-produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-info h3 {
    margin: 0;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

.question-info p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.question-info .price {
    font-size: 16px;
    color: #007bff;
}

.line-product {
    border: solid 1px;
    color: #007bff;
    margin-block: 5px;
}

.question-user {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.container-contador {
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
}

.container-contador>p {
    font-size: 14px;
}

.question-user > .resposta-rapida {
    font-size: 12px;
    background-color: rgba(0, 113, 187, 0.24);
    border-radius: 5px;
    padding: 2px;
}

.question-user>p {
    font-size: 15px;
    color: #007bff;
    margin-bottom: 0rem;
    font-weight: bold;
}

.produto-info {
    color: #007bff;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.question-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-right: 5px;
}

.question-content {
    padding: 5px;
    background-color: #F0F0F0;
    border-radius: 25px;
    text-align: left;
    display: flex;
}

.point-question {
    color: #007bff;
}

.question-content p {
    margin: 0;
    font-size: 14px;
    padding-left: 5px;
}

.question-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.question-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    width: 100%;
    outline: none
}

.button-question-container {
    margin-top: -10px;
    display: flex;
}

.question-footer button:disabled {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(25, 26, 35);;
    color: white;
    font-size: 14px;
    cursor: no-drop;
    transition: background-color 0.3s;
}

.question-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.divisao-produto {
    border: solid 5px;
    color: #F0F0F0;
    width: 110%;
    margin-left: -20px;
    opacity: 100%;
}

.container-perguntas::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.container-perguntas::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.container-perguntas::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

.container-perguntas::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}