.home-container{
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
    height: 90%;
}

.titulo-rastreio {
    color: #0071BB;
    font-weight: 600;
}

.rastreio-input {
    border: 2px solid #0071BB;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F0F0F0;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
.rastreio-input:hover,
.rastreio-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.imagem-rastreio{
    max-width:1920px;
    max-height:720px;
    width: auto;
    height: auto;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}