.home-container{
    text-align: center;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
}

.titulo-rastreio {
    color: #0071BB;
    font-weight: 600;
    padding-top: 50px;
}

.rastreio-input {
    border: 2px solid #0071BB;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F0F0F0;
    border-radius: 10px;
    transition: all 0.5s;
}
  
.rastreio-input:hover,
.rastreio-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.button-rastreio {
    background-color: #3b82f6;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-rastreio:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.imagem-rastreio {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 1250px;
}

.container-full-width {
    width: 100%;
    background-color: #0071BB;
    padding: 20px 0;
    margin-bottom: -200px;
}

.container-perguntas {
    width: 100%;
    padding: 20px 0;
    margin-bottom: -200px;
}

.container-full-width2 {
    color: #0071BB;
    padding: 20px 0;
    margin-top: 250px;
}

.image-section {
    flex: 1;
    margin-right: 20px;
}

.text-section {
    flex: 1;
}

.container1 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-section {
    max-width: 50%;
}

.titulo-controle {
    font-weight: bold;
}

.image-section, .text-section2 {
    flex: 1;
    padding: 20px;
}

.imagem-check {
    max-width: 600px;
    width: 145%;
    height: auto;
    position: relative;
}

.imagem-duvida {
    max-width: 600px;
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
}

.texto-controle2 {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.card {
    width: 25%;
    background-color: #F0F0F0 !important; 
    border-width: 2px !important;
    border-color: #0071BB !important;
    border-radius: 25px !important;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.card-content {
    align-items: center;
    text-align: left;
}

.card-content img {
    margin-right: 20px;
    margin-top: 30px;
    width: 50px;
    height: auto;
    margin-left: 25px;
}

.card-content p {
    margin: 0;
    margin-top: 75px;
    padding-inline: 30px;
    text-align: justify;
    font-weight: bold;
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}

.text-center {
    margin-top: 25px;
}

@media only screen and (max-width: 1500px) {
    .card {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .imagem-check {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .card {
        width: 85% !important;
        min-height: 325px;
    }

    .card-container {
        display: grid;
        grid-gap: 30px;
    }

    .container1 {
        display: ruby-text;
    }

    .content-section {
        display: block;
    }

    .imagem-duvida{
        display: none;
    }

    .imagem-check{
        display: none;
    }

    .text-section {
        max-width: 100%;
        margin-bottom: -50px;
    }

}

@media only screen and (max-width: 500px) {
    .imagem-rastreio {
        display: none;
    }

    .container-rastreio {
        padding-bottom: 100px;
    }

    .titulo-rastreio{
        padding-top: 100px;
    }
}