.home-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.container-rastreio {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

.background {
    background-color: #F0F0F0;
    border-radius: 45px 45px 0px 0px;
}

.titulo-rastreio {
    color: #0071BB;
    font-weight: 600;
}

.input-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.rastreio-input {
    border: 2px solid #0071BB;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F0F0F0;
    border-radius: 10px;
    transition: all 0.5s;
}

.rastreio-input:hover,
.rastreio-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.button-rastreio {
    background-color: #3b82f6;
    text-decoration: none;
    color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button-rastreio:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.status-imagem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-column {
    display: flex;
    flex-direction: column;
    margin-left: 145px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.status-container {
    max-width: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.icon-status-background {
    padding: 15px;
}
  
.icon-status {
    transform: translateY(-2px);
    margin-right: 8px;
}
  
.icon-status path {
    fill: #fff;
}
  
.situacao-status {
    font-weight: 500;
    font-size: 14px;
}

.titulo-status {
    margin: 0;
}

.local-status {
    color: #0071BB;
    margin: 0;
    font-weight: bold;
}

.data-status {
    margin: 0;
    font-weight: bold;
}

.entrega {
    color: #0071BB;
    margin: 0;
}

.info-svg {
    margin-left: 3px;
}

.container-imagem-status {
    display: flex;
    justify-content: right;
}

.imagem-status {
    max-width: 100%;
    width: 850px;
    margin-right: 100px;
}

.terms-of-usage {
    background-color: #F0F0F0;
    padding-bottom: 15px;

    a {
        margin-left: 40px
    }
}

.footer-hr {
    margin: auto;
    width: 75%;
    height: 2px;
    background: black !important;
    margin-bottom: 8px;
    border: none !important;
}

@media only screen and (max-width: 1350px) {
    .status-imagem-container {
        display: block;
    }

    .status-column {
        margin-left: 0px;
    }

    .container-imagem-status {
        justify-content: center;
    }

    .imagem-status {
        margin-right: 0px;
    }

    .home-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 796px) {
    .input-button-container{
        display: block;
    }

    .container-rastreio{
        margin-left: 0px;
    }
}