<link href="/static/css/bipagem.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% extends 'blueprint.html' %}
{% block main %}
<div class="background">
    <div class="home-container">
        <div id="operação-iniciada-popup" class="operação-iniciada-popup" style="display: none;">
            <div class="operação-iniciada-container">
                <p>Operação iniciada com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-excluir-popup" class="operação-excluir-popup" style="display: none;">
            <div class="operação-excluir-container">
                <p>Operação cancelada com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-excluir-produto-popup" class="operação-excluir-produto-popup" style="display: none;">
            <div class="operação-excluir-produto-container">
                <p>Produto excluido com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-finalizar-popup" class="operação-finalizar-popup" style="display: none;">
            <div class="operação-finalizar-container">
                <p>Operação finalizada com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-produto-alterado-popup" class="operação-produto-alterado-popup" style="display: none;">
            <div class="operação-produto-alterado-container">
                <p>Produto excluido com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-chave-editada-produto-popup" class="operação-chave-editada-produto-popup"
            style="display: none;">
            <div class="operação-chave-editada-produto-popup-container">
                <p>Chave de produto editado com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="operação-codigo-editado-produto-popup" class="operação-codigo-editado-produto-popup"
            style="display: none;">
            <div class="operação-codigo-editado-produto-popup-container">
                <p>Código de produto editado com sucesso!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="apenas-numeros-popup" class="apenas-numeros-popup" style="display: none;">
            <div class="apenas-numeros-popup-container">
                <p>Insira informação válida (apenas números)<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div id="tabela-vazia-popup" class="tabela-vazia-popup" style="display: none;">
            <div class="tabela-vazia-popup-container">
                <p>Insira informação para finalizar tarefa!<span class="close-button-confirm"
                        onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div class="container-camera">
            <div class="camera">
                <img class="camera-img" src="../static/img/sem-camera.png" alt="">
                <img src="{{ url_for('video_feed') }}" alt="Barcode Scanner Video Feed" class="camera-video">
            </div>
        </div>
        <div class="container-busca">
            <div class="pesquisa-volume">
                <label for="codigoProduto"></label>
                <input type="number" id="codigoProduto" name="codigoProduto" class="input-pesquisa-volume"
                    placeholder="Código do Volume" autocomplete="off" disabled autofocus>
                <button id="add-data" class="button-search" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="pesquisa-produto">
                <label for="chaveProduto"></label>
                <input type="number" id="chaveProduto" name="chaveProduto" class="input-pesquisa-produto"
                    placeholder="Código do Produto" autocomplete="off" disabled>
                <button id="add-data" class="button-produto" type="submit"><i class="fa fa-cube"></i></button>
            </div>
        </div>
        <div class="tabela-produtos">
            <table class="tabela-table">
                <thead class="tabela-thead">
                    <tr>
                        <th><input type="checkbox" id="showDivCheckbox"></th>
                        <th>N° do Produto</th>
                        <th>Cód. do Produto</th>
                        <th>Chave do Produto</th>
                        <th>Data/Hora</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="table-body" style="display: none;">
                </tbody>
            </table>
            <div class="aviso-inicio">
                <h1>Inicie operação para acompanhar os dados.</h1>
            </div>
            <div class="aviso-iniciado" style="display: none;">
                <h1>Operação iniciada, aguardando leitura de dados.</h1>
            </div>
        </div>
        <div class="footer-legenda-botao">
            <div class="legenda">
                <div class="decoração-legenda"></div>
                <p>Qntd. de Volume: <span id="product-count" class="contador"> 0</span></p>
                <div class="decoração-legenda"></div>
                <p class="data" id="realdata">Data: </p>
                <div class="decoração-legenda"></div>
                <p class="hora" id="realtime-clock">Hora: </p>
            </div>
            <div class="button-footer">
                <button class="button-iniciar">Iniciar</button>
                <button class="button-cancelar">Cancelar</button>
                <button class="button-finalizar">Finalizar</button>
                <div id="popup-editar-codigo-container" class="popup-editar-codigo-container" style="display:none;">
                    <div class="popup-editar-codigo">
                        <h2>Editar Código<span class="close-button-confirm"
                                onclick="closeEditPopup('codigo')">&times;</span></h2>
                        <div class="data-hora-container">
                            <div class="data-hora">
                                <h6 class="data-edição">Data: </h6>
                                <input type="text" class="input-data-edição" id="input-data-edição" disabled>
                                <h6 class="hora-edição">Hora: </h6>
                                <input type="text" class="input-hora-edição" id="input-hora-edição" disabled>
                            </div>
                            <div class="input-editar-codigo">
                                <h6 class="codigo-edição">Código do Produto: </h6>
                                <input type="text" class="input-codigo-edição" id="input-codigo-edição">
                            </div>
                            <div class="button-container-confirm-edição">
                                <button class="button-cancel-edição-código" id="button-cancel-edição-código"
                                    onclick="closeEditPopup('codigo')">Cancelar</button>
                                <button class="button-confirm-edição-código"
                                    id="button-confirm-edição-codigo">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="popup-editar-chave-container" class="popup-editar-chave-container" style="display:none;">
                    <div class="popup-editar-chave">
                        <h2>Editar Chave<span class="close-button-confirm"
                                onclick="closeEditPopup('chave')">&times;</span></h2>
                        <div class="data-hora-container">
                            <div class="data-hora">
                                <h6 class="data-edição">Data: </h6>
                                <input type="text" class="input-data-edição" id="input-data-edição-ch" disabled>
                                <h6 class="hora-edição">Hora: </h6>
                                <input type="text" class="input-hora-edição" id="input-hora-edição-ch" disabled>
                            </div>
                            <div class="input-editar-chave">
                                <h6 class="chave-edição">Chave do Produto: </h6>
                                <input type="text" class="input-chave-edição" id="input-chave-edição">
                            </div>
                            <div class="button-container-confirm-edição">
                                <button class="button-cancel-edição-chave" id="button-cancel-edição-chave"
                                    onclick="closeEditPopup('chave')">Cancelar</button>
                                <button class="button-confirm-edição-chave" id="button-confirm-edição-chave">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="popup-cancelar-container" class="popup-cancelar-container" style="display:none;">
                    <div class="popup-cancelar">
                        <h2>Cancelar Operação<span class="close-button-confirm">&times;</span></h2>
                        <div class="aviso-cuidado">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <p>Com a operação excluída o processo não será salvo.</p>
                        </div>
                        <p class="confirm-message">Assim que cancelar, a operação <b>não será salva</b> e <b>todos os
                                registros serão descartados</b> e não poderá ser revertido.
                            <br><br>Deseja cancelar esta operação?
                        </p>
                        <div class="button-container-confirm">
                            <button class="button-cancel-operação">Cancelar</button>
                            <button class="button-confirm-cancel-operação">Excluir</button>
                        </div>
                    </div>
                </div>
                <div id="popup-finalizar-container" class="popup-finalizar-container" style="display:none;">
                    <div class="popup-finalizar">
                        <h2>Confirmação<span class="close-button-confirm">&times;</span></h2>
                        <div class="aviso-cuidado">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            <p>Com a operação finalizada não poderá ser feito mais alterações.</p>
                        </div>
                        <p class="confirm-message">Uma vez finalizado, a operação será <b>salva e todos os registros
                                serão carregados</b> e não poderá ser alterado.
                            <br><br>Deseja finalizar esta operação?
                        </p>
                        <div class="button-container-confirm">
                            <button class="button-cancel">Cancelar</button>
                            <button class="button-confirm" id="save-table-data">Finalizar</button>
                        </div>
                    </div>
                </div>
                <div id="popup-loading-container" class="popup-loading-container" style="display:none;">
                    <div class="popup-loading">
                        <h2>Finalizando Operação</h2>
                        <p>Operação finalizada, baixa do sistema sendo realizada.</p>
                        <div class="loading-container">
                            <p class="loading">Carregando</p>
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popup-finalizado-container" class="popup-finalizado-container" style="display:none;">
                    <div class="popup-finalizado">
                        <h2>Operação Finalizada<span class="close-button-concluido"
                                onclick="closeLoadingPopup()">&times;</span></h2>
                        <div class="finalizado-container">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <p>Operação Finalizada com sucesso.</p>
                            <button class="button-concluir">Concluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seleção-container" id="toggleDiv" style="display: none;">
            <div class="seleção">
                <h6><span id="selected-count">0</span></h6>
                <p><span id="produto-text">Produto</span> selecionado | <a href="#" id="desmarcar-selecao">Desmarcar
                        Seleção</a></p>
                <button class="button-excluir-produto-selecionado"><i class="fa fa-trash-o"
                        aria-hidden="true"></i>Excluir</button>
            </div>
        </div>
        <div id="popup-excluir-produto-container" class="popup-excluir-produto-container" style="display:none;">
            <div class="popup-excluir-produto">
                <h2>Excluir Produto<span class="close-button-confirm">&times;</span></h2>
                <div class="aviso-cuidado">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <p>Exclusão de produtos é uma ação irreversível.</p>
                </div>
                <p class="confirm-message">Uma vez excluído, o produto <b>será apagado de todos os registros atuais
                        realizado</b> e não poderá ser recuperado. <br><br>Deseja excluir os produtos selecionado?
                </p>
                <div class="button-container-confirm">
                    <button class="button-cancel-excluir-produto">Cancelar</button>
                    <button id="deleteSelectedRows" class="button-confirm-excluir-produto">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

<script src="../static/js/bipagem.js"></script>

<script>
    document.getElementById('save-table-data').addEventListener('click', function () {
        const tableBody = document.getElementById('table-body');
        const rows = tableBody.querySelectorAll('tr');
        const produtos = [];
        const messageContainer = document.getElementById('message-container');

        rows.forEach(row => {
            const cells = row.querySelectorAll('td');
            const codigo_interno = cells[1].textContent;
            const codigo = cells[2].textContent;
            const chave = cells[3].textContent;
            const data_hora = cells[4].textContent;
            produtos.push({ codigo_interno, codigo, chave, data_hora });
        });

        fetch('/add_produtos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ produtos }),
        })
    });
</script>

{% endblock %}