<link href="/static/css/chat-bot.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}


<div class="background">
    <div class="home-container">
        <div class="image-container">
            <img src="../static/img/chat-bot-sobre.png" alt="BOT" class="bot-image">
        </div>
        <div class="text-container">
            <h2>Eai, sou o Avanço!<br>Estou aqui para ajuda-lo.</h2>
            <p>Apresentamos a vocês o Avanço, uma Inteligência Artificial treinada para atuar como um torneiro
                experiente. Desenvolvido para oferecer suporte técnico especializado, o Avanço está pronto para
                responder dúvidas, compartilhar conhecimento e auxiliar na tomada de decisões em processos de usinagem.
                <br>
                <br>
                Nosso chat-bot foi alimentado com uma vasta experiência acumulada ao longo dos anos, capacitando-o a
                fornecer orientações precisas sobre ferramentas, materiais e técnicas de tornearia. Quer seja em uma
                linha de produção ou no aprendizado de novas habilidades, o Avanço está aqui para transformar desafios
                em soluções práticas e eficientes. <br>
                <br>
                Disponível para todos que buscam excelência em seus projetos, o Avanço é mais do que uma ferramenta
                digital, é um parceiro confiável na jornada de inovação e precisão! <br>
            </p>
        </div>
    </div>
</div>
<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

{% endblock %}