<link href="/static/css/documentacao.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}


<div class="background">
    <div class="home-container">
        <img class="img-documentacao" src="../static/img/documentacao.png" alt="Descrição da imagem">

        <div class="container-card-documentacao">
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-section">


            <div class="left-section">
                <h1>Documentação </h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium officiis ut itaque quam,
                    voluptatum explicabo facilis quasi culpa possimus nobis quas quae minima ad, magni, dolorem quidem
                    mollitia sunt ipsam!</p>
                <div class="features">
                    <div class="feature">
                        <span class="checkmark">✔</span>
                        <div>
                            <h3>Fácil acesso</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quis eveniet
                                perferendis iusto atque dolorem.</p>
                        </div>
                    </div>
                    <div class="feature">
                        <span class="checkmark">✔</span>
                        <div>
                            <h3>Escrita simples e rápida</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quis eveniet
                                perferendis iusto atque dolorem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="faq">
                    <h2 class="faq-title-main">Qual a importância de usar a documentação?</h2>
                    <p>Neste FAQ, mostraremos rapidamente o quanto é importante para você ler e entender a documentação
                        de alguns processos da empresa.</p>
                    <div class="faq-item">
                        <h2 class="faq-title">O que é a documentação?<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </h2>
                        <div class="faq-content">
                            <p>With lots of unique blocks, you can easily build a page with coding. Build your next
                                landing page. Integer ut obe ryn. Sed feugiat vitae turpis a porta.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h2 class="faq-title">O quanto impacta na performance?<i class="fa fa-angle-down"
                                aria-hidden="true"></i></h2>
                        <div class="faq-content">
                            <p>Yes, Shade Pro can be used for your clients with no restrictions.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h2 class="faq-title">Qual o resultado esperado?<i class="fa fa-angle-down"
                                aria-hidden="true"></i></h2>
                        <div class="faq-content">
                            <p>Yes, Shade Pro can be used for your clients with no restrictions.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h2 class="faq-title">Está disponível para download?<i class="fa fa-angle-down"
                                aria-hidden="true"></i></h2>
                        <div class="faq-content">
                            <p>You can access the old version by visiting our archive section or contacting support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

<script>
    document.querySelectorAll('.faq-title').forEach(item => {
        item.addEventListener('click', () => {
            const currentlyActiveFaq = document.querySelector('.faq-title.active');
            const faqContent = item.nextElementSibling;

            if (currentlyActiveFaq && currentlyActiveFaq !== item) {
                currentlyActiveFaq.classList.remove('active');
                currentlyActiveFaq.nextElementSibling.style.maxHeight = null;
            }

            item.classList.toggle('active');

            if (item.classList.contains('active')) {
                faqContent.style.maxHeight = faqContent.scrollHeight + "px";
            } else {
                faqContent.style.maxHeight = null;
            }
        });
    });
</script>
{% endblock %}