<link href="/static/css/documentacao.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}


<div class="background">
    <div class="home-container">
        <img class="img-documentacao" src="../static/img/documentacao.png" alt="Descrição da imagem">

        <div class="frase">
            <div class="testimonial">
                <h2>Não perca nenhuma informação!<br> Acesse agora as documentações da Piveta Ferramentas.</h2>
                <blockquote>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, atque eaque nesciunt, porro eum
                        necessitatibus quae molestiae quos nostrum nisi quidem aliquid doloremque assumenda debitis
                        quasi sed deleniti distinctio ipsa.</p>
                </blockquote>
            </div>
        </div>

        <div class="container-card-documentacao">
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-titulo-documentacao">
            <h4>Não perca nenhuma informação! Acesse agora as documentações da Piveta Ferramentas.</h4>
        </div>

        <div class="video-documentacao">
            <iframe width="700" height="394" src="https://www.youtube.com/embed/VEWuwAr-7oU?si=kyJsXT8NxDl30-we"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="container-informacoes">
            <div class="description">
                <h2><br>Qual o impacto <br> do sistema?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum libero similique maxime doloribus iste ad voluptatem non? Reiciendis, quidem vel, impedit eos repellendus, perferendis corporis voluptates et saepe dolores iusto?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt autem dignissimos est voluptate iusto nisi? Veritatis voluptas, ab minima quia eligendi fuga provident nostrum sed quo quas officiis expedita rerum!</p>
                <button class="button-informacoes">Leia mais</button>
            </div>
            <div class="app-screens">
                <img src="../static/img/documento-busca.png" alt="">
            </div>
        </div>

        <div class="container-card-documentacao">
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card-img"></div>
                <div class="card-info">
                    <p class="text-title">Product title </p>
                    <p class="text-body">Product description and details</p>
                </div>
                <div class="card-footer">
                    <span class="text-title">$499.49</span>
                    <div class="card-button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

{% endblock %}