<link href="/static/css/index.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}
<div class="background">
    <div class="home-container">
        <div id="bannerCarrossel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#bannerCarrossel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarrossel" data-slide-to="1"></li>
                <li data-target="#bannerCarrossel" data-slide-to="2"></li>
                <li data-target="#bannerCarrossel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/img/banner-1.png" class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/banner-1.png" class="d-block w-100" alt="banner 2">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/banner-1.png" class="d-block w-100" alt="banner 3">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/banner-1.png" class="d-block w-100" alt="banner 3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#bannerCarrossel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#bannerCarrossel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <div class="card-container">
        </div>
        <div class="frase">
            <div class="testimonial">
                <h2>Bem vindos ao Grupo Piveta Ferramentas!<br> Esse é o Piveta System!</h2>
                <blockquote>
                    <p>Sem dúvida, recomendo o Grupo Piveta Ferramentas como uma das melhores empresas de ferramentas de usinagem. Uma das melhores que encontrei até agora. Não hesitaria em apresentar seu trabalho a outra pessoa.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

<script src="../static/js/index.js" src="../"></script>

{% endblock %}