<link href="/static/css/perguntas-ml.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}
<div class="background">
    <div class="home-container">
        <div id="resposta-enviada-popup" class="resposta-enviada-popup" style="display: none;">
            <div class="resposta-enviada-popup-container">
                <p>Resposta enviada!<span class="close-button-confirm" onclick="closeLoadingPopup()">&times;</span></p>
            </div>
        </div>
        <div class="buttons-options">
            <button onclick="openPopup()"><i class="fa fa-comments-o" aria-hidden="true"></i></button>
            <button><i class="fa fa-calculator" aria-hidden="true"></i></button>
        </div>
        <form action="/perguntas-mercado-livre" method="get">
            <div class="filter-section">
                <input type="text" name="Título" placeholder="Título">
                <input type="text" name="codigo_mlb" placeholder="Código MLB">
                <input type="date" name="data_de" placeholder="De">
                <input type="date" name="data_ate" placeholder="Até">
                <select name="status_resposta">
                    <option value="nao_respondidas">Não respondidas</option>
                    <option value="respondidas">Respondidas</option>
                    <option value="todas">Todas</option>
                </select>
                <button type="submit" class="filtrar">Filtrar</button>
            </div>
        </form>
        <div class="container-tabs">
            <div class="tabs">
                <div class="tab active" data-tab="tab1">Piveta
                    {% if count_nao_respondidas >= 1 %}
                    <div class="summary">
                        <p> {{ count_nao_respondidas }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="tab" data-tab="tab2">Suprir</div>
                <div class="tab" data-tab="tab3">JG Tools</div>
            </div>
            {% if count_nao_respondidas >= 1 and filtro_atual == 'nao_respondidas' or count_nao_respondidas >= 0 and
            filtro_atual == 'respondidas' or count_nao_respondidas >= 0 and filtro_atual == 'todas'%}
            <div class="tab-content" id="tab1">
                <div class="container-perguntas">
                    {% for pergunta in perguntas %}
                    <div class="question">
                        <div class="question-header">
                            <img src="{{ pergunta.produto.thumbnail }}" alt="Imagem do Produto">
                            <div class="question-info">
                                <div class="titulo-produto">
                                    <h3>{{ pergunta.produto.titulo }}</h3>
                                    <!-- <div class="menu-container">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <div class="dropdown-menu" style="display: none;">
                                            <a href="#" class="edit-codigo">Editar Código</a>
                                            <a href="#" class="edit-chave">Editar Chave</a>
                                        </div>
                                    </div> -->
                                </div>
                                <a href="{{ pergunta.produto.permalink }}" target="_blank" class="link-mlb">
                                    <p>{{ pergunta.mlb }} <span><i class="fa fa-external-link"
                                                aria-hidden="true"></i></span>
                                </a> | {{ pergunta.data_hora }} | #{{ pergunta.id_pergunta }}</p>
                                <hr class="line-product">
                                <div class="produto-info">
                                    {% if pergunta.produto.preco == None %}
                                    <p class="price">Preço a combinar</p>
                                    {% else %}
                                    <p class="price">R$ {{ pergunta.produto.preco }}</p>
                                    {% endif %}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <p class="estoque">{{ pergunta.produto.vendido }}</p>
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                    <p class="stock">{{ pergunta.produto.estoque }}</p>
                                </div>
                                <div class="question-user">
                                    <p class="resposta-rapida">#Respostas rápidas</p>
                                    <p>{{ pergunta.usuario }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="question-content">
                            <p class="point-question">•</p>
                            <p>{{ pergunta.texto_pergunta }}</p>
                        </div>
                        <div class="question-footer">
                            {% if pergunta.resposta %}
                            <div class="pergunta-respondida">
                                <p>Resposta: {{ pergunta.resposta }}</p>
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </div>
                            {% else %}
                            <div class="question-input-container">
                                <input type="text" class="input-resposta"
                                    placeholder="Você pode enviar apenas 1 resposta. Não inclua dados de contato."
                                    maxlength="2000">
                                <div class="container-contador">
                                    <p>Digite # para acessar suas respostas rápidas.</p>
                                    <p class="char-count">0 / 2000</p>
                                </div>
                            </div>
                            <div class="button-question-container">
                                <button class="btn-responder" data-question-id="{{ pergunta.id_pergunta }}"
                                    disabled>Responder</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="divisao-produto">
                    {% endfor %}
                </div>
            </div>
            {% else %}{% if count_nao_respondidas == 0 and filtro_atual == 'nao_respondidas' %}
            <div class="tab-content" id="tab1">
                <div class="container-perguntas">
                    <div class="content">
                        <img src="../static/img/sem-perguntas.png" alt="Excelente Trabalho!">
                        <h2>Bom trabalho! Todas as perguntas foram respondidas!</h2>
                        <p>Assim que chegarem novas perguntas, vamos atualizar a tela automaticamente e também te avisar
                            pelo ícone de notificação no topo.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}

            <div class="tab-content" id="tab2" style="display:none;">
                <div class="container-perguntas">
                    <div class="content">
                        <img src="../static/img/sem-perguntas.png" alt="Excelente Trabalho!">
                        <h2>Bom trabalho! Todas as perguntas foram respondidas!</h2>
                        <p>Assim que chegarem novas perguntas, vamos atualizar a tela automaticamente e também te avisar
                            pelo ícone de notificação no topo.</p>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="tab3" style="display:none;">
                <div class="container-perguntas">
                    <div class="content">
                        <img src="../static/img/sem-perguntas.png" alt="Excelente Trabalho!">
                        <h2>Bom trabalho! Todas as perguntas foram respondidas!</h2>
                        <p>Assim que chegarem novas perguntas, vamos atualizar a tela automaticamente e também te avisar
                            pelo ícone de notificação no topo.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="quick-responses-popup" class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <div class="popup-header">
                    <h2>Respostas rápidas para perguntas</h2>
                    <button class="close-button" onclick="closePopup()">&times;</button>
                </div>
                <div class="popup-body">
                    <p>Crie-as com as informações que você usa nas suas respostas recorrentes e agilize a comunicação
                        para concluir mais vendas.</p>
                    <div class="response-form">
                        <div class="input-wrapper">
                            <span class="hash-symbol"># </span>
                            <input type="text" class="input-hashtag" placeholder="Ex: ESTOQUE" maxlength="30"
                                style="text-transform:uppercase">
                        </div>
                        <input type="text" class="input-response"
                            placeholder="Sim, temos estoque. Esperamos sua compra!" maxlength="1000">
                        <button class="create-response-btn" id="save-response">Criar resposta</button>
                    </div>
                    <div class="response-options">
                        <label>
                            Seleciona respostas para excluir em massa.
                        </label>
                        <button id="delete-selected" class="mass-delete-btn">Excluir</button>
                    </div>
                    <div class="table-container">
                        <table class="responses-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Identificador <i class="fa fa-question-circle-o" aria-hidden="true"></i></th>
                                    <th>Resposta rápida <i class="fa fa-question-circle-o" aria-hidden="true"></i></th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {% for resposta in respostas %}
                                <tr data-id="{{ resposta[2] }}" id="row-{{ resposta[2] }}">
                                    <td><input type="checkbox"></td>
                                    <td class="identificador-cell">#{{ resposta[0] }}</td>
                                    <td class="response-cell">{{ resposta[1] }}</td>
                                    <td>
                                        <div class="menu-container">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <div class="dropdown-menu" style="display: none;">
                                                <a href="#" class="edit-codigo">Editar resposta</a>
                                                <a href="#" class="delete-option" style="color: red;">Excluir</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="legenda-container">
                        <div class="decoracao-legenda"></div>
                        <p>Qtd. de Respostas: <span class="quantidade-resposta">0</span></p>
                    </div>
                    <button class="confirm-btn" onclick="closePopup()">Confirmar</button>
                </div>
            </div>
        </div>

        <div id="quick-response-popup" class="custom-popup-overlay" style="display: none;">
            <div class="custom-popup-content">
                <div class="custom-popup-header">
                    <h2>Editar resposta rápida</h2>
                    <button class="custom-close-button" onclick="closeQuickResponsePopup()">×</button>
                </div>
                <div class="custom-popup-body">
                    <div class="custom-form-group">
                        <label for="custom-identificador">Identificador</label>
                        <div class="custom-input-wrapper">
                            <span class="custom-hash-symbol"># </span>
                            <input type="text" id="custom-identificador" class="custom-input-hashtag" placeholder="Ex.: ESTOQUE" maxlength="30" disabled>
                        </div>
                        <p class="custom-helper-text">Você poderá usá-lo para acessar sua resposta rápida quando estiver respondendo a uma pergunta.</p>
                    </div>
                    <div class="custom-form-group">
                        <label for="custom-conteudo-resposta">Conteúdo da resposta rápida</label>
                        <input type="text" id="custom-conteudo-resposta" class="custom-input-response" placeholder="Sim, temos estoque. Esperamos sua compra!" maxlength="1000">
                        <p class="custom-helper-text">Não inclua dados de contato.</p>
                    </div>
                </div>
                <div class="custom-popup-footer">
                    <button class="custom-btn-cancel" onclick="closeQuickResponsePopup()">Cancelar</button>
                    <button class="custom-btn-finalizar" onclick="saveQuickResponse()">Salvar</button>
                </div>
            </div>
        </div>

        <div id="delete-response-popup" class="popup-overlay" style="display: none;">
            <div class="popup-content-excluir">
                <div class="popup-header">
                    <h2>Excluir resposta rápida</h2>
                    <button class="close-button" onclick="closeDeletePopup()">&times;</button>
                </div>
                <div class="popup-body">
                    <p>Desaparecerá de suas respostas rápidas salvas e você não poderá usá-la para responder às perguntas que te fizerem.</p>
                    <p>Observe que, se você excluir, não poderá recuperá-la.</p>
                </div>
                <div class="popup-footer">
                    <button class="cancel-btn" onclick="closeDeletePopup()">Cancelar</button>
                    <button class="confirm-btn confirm-delete-btn" id="confirm-delete-btn">Excluir</button>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

<script src="../static/js/perguntas-ml.js"></script>

{% endblock %}