<link href="/static/css/rastreio.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}

<div class="background">
    <div class="home-container">
        <div class="container-rastreio">
            <h1 class="titulo-rastreio">Ei Pivetencer, não deixe de acompanhar as encomendas!</h1>
            <input type="text" class="rastreio-input" placeholder="Código de rastreio">
            <button class="button-rastreio">Rastrear</button>
            <br>
            <img class="imagem-rastreio" src="../static/img/rastreio-predio.png" alt="">
        </div>
    </div>
    <div class="container-full-width">
        <div class="container">
            <div class="text-section">
                <h1 class="titulo-controle">Não perca o controle de envios!</h1>
                <p class="texto-controle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut maxime perspiciatis modi impedit ea rerum soluta exercitationem ratione autem aliquam molestiae laborum omnis ab cum ipsa quo, explicabo quod suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur esse commodi, voluptas dolorum quia distinctio vitae eius a, hic magnam, quis earum delectus quidem beatae voluptatem repellendus cumque quae? Maiores.</p>
            </div>
            <div class="image-section">
                <img class="imagem-check" src="/static/img/check.png" alt="Descrição da Imagem">
            </div>
        </div>
    </div>
    <div style="background-color: red;">
        <p>TEXTO    </p>
    </div>
</div>


<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de privacidade</a>
</footer>

{% endblock %}