<link href="/static/css/rastreio.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}

<div class="background">
    <div class="home-container">
        <div class="container-rastreio">
            <h1 class="titulo-rastreio">Ei Pivetencer, não deixe de acompanhar as encomendas!</h1>
            <form action="/status" method="post">
                <input type="text" name="codigo_rastreio" class="rastreio-input" placeholder="Código de rastreio">
                <button class="button-rastreio" type="submit">Rastrear</button>
                <br>
                <img class="imagem-rastreio" src="../static/img/rastreio-predio.png" alt="">
            </form>
        </div>
    </div>
    <div class="container-full-width">
        <div class="container1">
            <div class="text-section">
                <h1 class="titulo-controle">Não perca o controle de envios!</h1>
                <p class="texto-controle">É essencial manter-se organizado e eficiente na gestão de envios para garantir que todas as entregas sejam feitas no prazo. Mantenha registros precisos, monitore cada etapa do processo e esteja sempre pronto para ajustar conforme necessário. O controle rigoroso não apenas melhora a eficiência, mas também fortalece a confiança dos clientes e parceiros na sua capacidade de entrega.</p>
            </div>
            <div class="image-section">
                <img class="imagem-check" src="/static/img/check.png" alt="Descrição da Imagem">
            </div>
        </div>
    </div>
    <div class="container-full-width2">
        <div class="container2">
            <div class="content-section">
                <div class="image-section">
                    <img class="imagem-duvida" src="/static/img/duvida.png" alt="Descrição da Imagem">
                </div>
                <div class="text-section2">
                    <h1 class="titulo-controle">Precisa de alguma ajuda com algum rastreio?</h1>
                    <p class="texto-controle2">Veja o que fazer em cada um dos casos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-content">
                <img src="../static/svg/relogio.svg" alt="">
                <p>Cumprir prazos é crucial para manter a confiança e a eficiência. Seja diligente ao planejar e executar suas tarefas dentro dos prazos estabelecidos. A pontualidade não apenas demonstra profissionalismo, mas também garante a satisfação dos clientes e o sucesso dos projetos. Mantenha-se organizado, comunique-se claramente e esteja sempre um passo à frente para garantir que todos os prazos sejam atendidos com excelência.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/svg/check.svg" alt="">
                <p>A entrega é o momento crucial em que promessas se transformam em realidade. Mantenha um controle rigoroso desde o momento do pedido até a chegada ao destino final. Priorize a eficiência operacional, a comunicação clara e a qualidade do serviço para garantir que cada entrega seja feita com precisão e no prazo. A excelência na entrega não só fortalece a relação com os clientes, mas também solidifica sua reputação como um parceiro confiável e eficaz.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="../static/svg/caminhao.svg" alt="">
                <p>A confiabilidade é a base de qualquer relacionamento sólido. Cumprir consistentemente com o que foi prometido, seja na entrega de produtos ou na execução de serviços, é essencial para construir e manter a confiança. Demonstre integridade, transparência e consistência em todas as interações. Ao fazer isso, não apenas você fortalece sua reputação, mas também cria vínculos duradouros com clientes, parceiros e colaboradores.</p>
            </div>
        </div>
    </div>

    <footer class="small text-center terms-of-usage">
        <hr class="footer-hr">
        © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
            privacidade</a>
    </footer>

</div>


{% endblock %}