<link href="/static/css/relatorios.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}
<div class="background">
    <div class="home-container">
        <h1 class="titulo-relatorio">Relatórios</h1>
        <div class="data-info" id="dateInfo">
            <p id="currentDate"></p>
            <p id="businessDaysRemaining"></p>
          </div>
        <div class="iframe-looker-studio">
            <iframe
                src="https://lookerstudio.google.com/embed/reporting/bdebbb1d-0c48-45a0-8113-a82b1de8d6a9/page/p_o0jl1ltajd"
                frameborder="0" style="border:0" allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        </div>
    </div>
</div>
</div>

<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

<script src="../static/js/relatorios.js"></script>

{% endblock %}