<link href="/static/css/status.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}
<div class="background">
    <div class="home-container">
        <div class="container-rastreio">
            <div class="input-button-container">
                <h1 class="titulo-rastreio">Código de rastreamento: </h1>
                <form action="/status" method="post">
                    <input type="text" name="codigo_rastreio" class="rastreio-input" placeholder="Código de rastreio">
                    <button class="button-rastreio" type="submit">Rastrear</button>
                </form>
            </div>
        </div>
    </div>
    <div class="status-imagem-container">
        <div class="status-column">
            {% if registros %}
            {% for registro in registros %}
            <div class="status-container">
                <div class="icon-status">
                    {% if registro.status == "Objeto em transferência - por favor aguarde" %}
                    <img class="icon-status-background" src="../static/svg/transito.svg" alt="">
                    {% elif registro.status == "Objeto postado após o horário limite da unidade" or registro.status ==
                    "Objeto postado"%}
                    <img class="icon-status-background" src="../static/svg/postado.svg" alt="">
                    {% elif registro.status == "Objeto saiu para entrega ao destinatário" or registro.status == "Objeto saiu para entrega ao remetente"%}
                    <img class="icon-status-background" src="../static/svg/entrega.svg" alt="">
                    {% elif registro.status == "Objeto entregue ao destinatário" or registro.status == "Objeto entregue ao remetente"%}
                    <img class="icon-status-background" src="../static/svg/entregue.svg" alt="">
                    {% elif registro.status == "Objeto aguardando retirada no endereço indicado" %}
                    <img class="icon-status-background" src="../static/svg/aguardando.svg" alt="">
                    {% elif registro.status == "Objeto não entregue - prazo de retirada encerrado" %}
                    <img class="icon-status-background" src="../static/svg/prazo-retirada-encerrado.svg" alt="">
                    {% else %}
                    <img class="icon-status-background" src="../static/svg/{{ registro.status.lower() }}.svg" alt="">
                    {% endif %}
                </div>
                <div class="situacao-status">
                    {% if registro.status == "Objeto em transferência - por favor aguarde" %}
                    <h3 class="titulo-status">Objeto em trânsito<img class="info-svg" src="../static/svg/info.svg"
                            alt=""></h3>
                    {% elif registro.status == "Objeto postado após o horário limite da unidade" or registro.status ==
                    "Objeto postado"%}
                    <h3 class="titulo-status">Objeto postado<img class="info-svg" src="../static/svg/info.svg" alt="">
                    </h3>
                    {% elif registro.status == "Objeto saiu para entrega ao destinatário" or registro.status == "Objeto saiu para entrega ao remetente"%}
                    <h3 class="titulo-status">Objeto saiu para <span class="entrega">entrega</span><img class="info-svg"
                            src="../static/svg/info.svg" alt=""></h3>
                    {% elif registro.status == "Objeto entregue ao destinatário" or registro.status == "Objeto entregue ao remetente"%}
                    <h3 class="titulo-status">Objeto <span class="entrega">entregue</span><img class="info-svg"
                            src="../static/svg/info.svg" alt=""></h3>
                    {% elif registro.status == "Objeto aguardando retirada no endereço indicado" %}
                    <h3 class="titulo-status">Objeto aguardando<span class="entrega"> retirada</span><img
                            class="info-svg" src="../static/svg/info.svg" alt=""></h3>
                    {% elif registro.status == "Objeto não entregue - prazo de retirada encerrado" %}
                    <h3 class="titulo-status">Objeto não entregue - prazo de retirada<span class="entrega"> encerrado</span><img
                            class="info-svg" src="../static/svg/info.svg" alt=""></h3>
                    {% else %}
                    <h3 class="titulo-status">Objeto {{ registro.status | capitalize }}<img class="info-svg"
                            src="../static/svg/info.svg" alt=""></h3>
                    {% endif %}

                    {% if registro.status == "Objeto postado após o horário limite da unidade" or registro.status ==
                    "Objeto postado"%}
                    <p class="data-status">{{ registro.data }} - {{ registro.hora }}</p>
                    <p class="local-status">Marília - SP</p>
                    {% elif registro.status == "Objeto saiu para entrega ao destinatário" or registro.status == "Objeto saiu para entrega ao remetente"%}
                    <p class="data-status">{{ registro.data }} - {{ registro.hora }}</p>
                    {% elif registro.status == "Objeto entregue ao destinatário" or registro.status == "Objeto entregue ao remetente"%}
                    <p class="data-status">{{ registro.data }} - {{ registro.hora }}</p>
                    {% elif registro.status == "Objeto aguardando retirada no endereço indicado" %}
                    <p class="data-status"></p>
                    {% elif registro.status == "Objeto não entregue - prazo de retirada encerrado" %}
                    <p class="data-status"></p>
                    {% else %}
                    <p class="data-status">{{ registro.data }} - {{ registro.hora }}</p>
                    <p class="local-status">{{ registro.destino }}</p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="status-container">
                <h3>Nenhum dado disponível para o código fornecido.</h3>
            </div>
            {% endif %}
        </div>
        <div class="container-imagem-status">
            <img class="imagem-status" src="../static/img/{{ imagem_status }}" alt="Status Atual">
        </div>
    </div>
    <footer class="small text-center terms-of-usage">
        <hr class="footer-hr">
        © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
            privacidade</a>
    </footer>
</div>
</div>


{% endblock %}