<link href="/static/css/ticket_user.css" rel="stylesheet">

{% extends 'blueprint.html' %}
{% block main %}


<div class="background">
    <div class="home-container">
        <div class="image-container">
            <img src="../static/img/error-ticket.png" alt="ticket_error" class="bot-image">
        </div>
        <div class="text-container">
            <h2>Esta com algum erro?<br>Abra agora um chamado!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium, excepturi ad, expedita fugit
                suscipit reiciendis velit, ipsum quam voluptatibus voluptatum ipsa! Placeat molestiae autem cupiditate
                tempore laborum corrupti. Sapiente. <br><br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae velit laboriosam amet pariatur tempora,
                atque architecto ut sit quas odit reprehenderit esse in praesentium deserunt magnam, blanditiis vero,
                non beatae.
            </p>
            <div class="button-chamado-container">
                <button class="button-chamado">Abra um chamado</button>
            </div>
        </div>
    </div>
</div>

<footer class="small text-center terms-of-usage">
    <hr class="footer-hr">
    © 2024 Piveta Ferramentas. Todos os direitos reservados. <a href="/politica-de-privacidade">Política de
        privacidade</a>
</footer>

{% endblock %}